footer {
  background-image: url(../../../assets/footerImg.jpg);
  position: absolute;
  bottom: 0;
  width: 100%;
}

p {
  display: flex;
  justify-content: flex-end;
  color: #fff;
  margin: 10px;
}
